{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}
<div class="homeh1">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1  data-aos="fade-left">FOODY</h1>
            <h1 data-aos="fade-right">MOODY</h1>
           <div class="foods">
                <h3 style="background-color: green;">🍰</h3>
                <h3 style="background-color: red;">🍔</h3>    
                <h3 style="background-color: brown;">🍩</h3>
                <h3 style="background-color: pink;">🍫</h3>
                <h3 style="background-color: skyblue;">🍨</h3>
                <h3 style="background-color: orangered;">🍕</h3>
           </div>
        </div>
    </div>
</div>
</div>
<hr>
{% comment %} Menu start {% endcomment %}
<div class="home-menupage">
    <div class="container-fluid">
        <div class="row">
           <div class="col-6 menu-items mx-auto">
            <h1 class="text-center">This is our menu!</h1>
            {% for i in item %}
            <div class="col-12">
                <ul>
                    <li data-aos="fade-down">{{i.item}}</li>
                        {% comment %} {{i.id}} {% endcomment %}
                </ul>
            </div>
            {% endfor %}
           </div>
        </div>
    </div>
</div>
<hr>

{% comment %} About start {% endcomment %}

<div class="home-about-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 about-items mt-5" data-aos="fade-down">
              <h1>This is about us!</h1>
              <h1>Welcome!💐</h1>
              <hr>
              <p>First of all a very welcome❤️ from us, you <br>
                came to us that is very deligthful for us so <br>
                we have maintained the price💸 of every menu <br>
                items on a very reasonable price so that anyone <br>
                can enjoy this type of premium stuffs, so if you are <br>
                sitting in our 🍕'K-Foods' restaurent so don't worry about <br>
                the bill💸 just enjoy🍔 and pay!</p>
                <a href="https://www.linkedin.com/in/kunal-raj-pal"><img src="{% static "images/linkdin.png" %}" id="iccon" alt=""></a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}