{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Login Page</title>
{% endblock %}


{% block content %}
<div class="Bookseat" style="">
  <form style="" method="post">
    {% csrf_token %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
          <h1 class="mb-3">Login!</h1>

          <label style="margin-top: 15px;">Username</label>
          <input type="text" placeholder="Craete your username" name="username">

          
          <label style="margin-top: 15px;">Password</label>
          <input type="password" placeholder="Craete your password" name="password">

         <center>
          <button type="submit">Login🍔</button>
      </center>
      <p class="my-3">Don't have account <a href="/register/">Register here!</a></p>
  </form>
</div>
</div>
{% endblock %}